
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: BitPotion;
    src: url(../fonts/BitPotion/BitPotionExt.ttf);
    font-style: normal
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::-moz-selection {
    background: #fc6
}

::selection {
    background: #fc6
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #acacac;
    font-family: Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;
    line-height: 1.5
}
.w3-button:hover{
    background-color: inherit!important;
    color: #ffc700 !important;
}
.padding-leftright{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ICONS */
.fa {
    padding: 20px;
    font-size: 30px!important;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

