@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-Regular-slnt=0.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::-moz-selection {
    background: #fc6
}

::selection {
    background: #fc6
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #1D1D1D !important;
    color: #acacac !important;
    /*font-family: Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
    line-height: 1.5;
    font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif !important;

}


.w3-button:hover {
    background-color: inherit !important;
    color: #8dbffd !important;
}

.padding-leftright {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ICONS */
.fa {
    padding: 20px;
    font-size: 30px !important;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 8px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #000000;
    color: white;
    /*border-radius: 100%;*/
}

.fa-linkedin {
    background: #000;
    color: white;
    /*border-radius: 100%;*/
}

.fa-android {
    background: #a4c639;
    color: white;
}

.banner {
    /*margin-top: 55px;*/
    margin-top: 85px;
}

a {
    text-decoration: none !important;
}

/*   */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.container:hover {
    /*opacity: 0.7;*/
    border: 1px solid white;
    border-image: linear-gradient(to right, #efceff 0%, #c7e2ff 25%, #e7ffba 50%, #ffecb8 75%, #ffc4e3 100%);
    border-image-slice: 1;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.container {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.rainbow-round {
    /*border-radius: 100%;*/
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.rainbow-line {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

/* HEADER*/
.perspective-container {
    overflow: hidden; /* so we dont get any undesired scrolling in the browser window */
    width: 70vw;
    /*height: 22vw;*/
    /*width: 100%;*/
    margin: auto;
    margin-top: 80px;
    /*background-color: #fff;*/
}

.electrical-bg {
    /*background-color: #fff;*/
    /*background-color: #000000;*/
}

.bottom-background {
    background-size: 30% 100px;
    /*background-image: linear-gradient(to right, #7cb9fd 2px, transparent 1px), linear-gradient(to bottom, #319baa 2px, transparent 1px);*/
    background: repeating-linear-gradient(-90deg, transparent, transparent 6px, #464646 6px, #464646 50%), repeating-linear-gradient(0deg, #464646, #464646 20px, #ffffff 2px, #ffffff 50%);
    width: 60%;
    /*height: 50vh;*/
    height: 18vw;
    /*bottom: 10vw;*/

    /*top: -8vw;*/
    /*margin-top: 10vw;*/
    transform: perspective(150px) rotateX(70deg) scale(1);
    z-index: -1;
    animation: myanim 0.7s infinite;
}

@keyframes myanim {
    0% {
        background-position: 0 0px;
        background-size: 30% 100px;
    }
    25% {
        background-position: 0 25px;
        background-size: 30% 100px;
    }
    50% {
        background-position: 0 50px;
        background-size: 30% 100px;
    }
    75% {
        background-position: 0 75px;
        background-size: 30% 100px;
    }
    100% {
        background-position: 0 100px;
        background-size: 30% 100px;
    }
}

.night-bottom-bg {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #7cb9fd 2px, transparent 1px), linear-gradient(to bottom, #319baa 2px, transparent 1px);
    animation: myanim2 0.7s infinite;
}

@keyframes myanim2 {
    0% {
        background-size: 20px 20px;
    }
    25% {
        background-size: 20px 21px;
    }
    50% {
        background-size: 20px 22px;
    }
    75% {
        background-size: 20px 23px;
    }
    100% {
        background-size: 20px 24px;
    }
}

.sun2 {
    background: rgb(255, 247, 235);
    background: radial-gradient(circle at 20% 40%, rgba(255, 247, 235, 1) 2%, rgba(204, 221, 227, 1) 3%, rgba(244, 235, 204, 1) 5%, rgba(247, 228, 169, 1) 8%, rgba(247, 224, 104, 1) 13%, rgba(251, 208, 93, 1) 17%, rgba(255, 192, 82, 1) 23%, rgba(255, 158, 90, 1) 34%, rgba(237, 143, 103, 1) 44%, rgba(205, 123, 113, 1) 58%, rgba(170, 123, 133, 1) 71%, rgba(150, 113, 129, 1) 87%, rgba(115, 93, 113, 1) 100%);
    /*z-index: 10;*/
    /*opacity: 0.5;*/
    height: 30vw;
    width: inherit;
    clear: both;
    position: absolute;
}

.sun {
    border-radius: 100%;
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 25vw;
    /*background-color: #36006c;*/
    background: rgb(253, 0, 201);
    background: linear-gradient(0deg, rgb(253, 0, 235) 24%, rgba(255, 235, 0, 1) 100%);

    /*-webkit-box-shadow: 0px 0px 50px 15px #ECACFF;*/
    /*box-shadow: 0px 0px 50px 15px #ECACFF;*/

    /*-webkit-box-shadow: 0px 0px 10px -5px #fffdfe;*/
    /*box-shadow: 0px 0px 10px -5px #fff8f8;*/

    /* Lines */
    --line2-start: 1%;
    --line2-end: 3;
    --line3-start: 0%;
    --line3-end: 3;
    --line4-start: 8%;
    --line4-end: 3;
    --line5-start: 16%;
    --line5-end: 3;
    --line6-start: 23%;
    --line6-end: 2;
    --line7-start: 29%;
    --line7-end: 2;
    --line8-start: 35%;
    --line8-end: 1;
    --line9-start: 40%;
    --line9-end: 0.5;

    -webkit-mask-image: linear-gradient(to top,
    #000 0%,
    #000 var(--line2-start), transparent var(--line2-start), transparent calc(var(--line2-start) + (var(--line2-end) * 1%)), #000 calc(var(--line2-start) + (var(--line2-end) * 1%)),
    #000 var(--line3-start), transparent var(--line3-start), transparent calc(var(--line3-start) + (var(--line3-end) * 1%)), #000 calc(var(--line3-start) + (var(--line3-end) * 1%)),
    #000 var(--line4-start), transparent var(--line4-start), transparent calc(var(--line4-start) + (var(--line4-end) * 1%)), #000 calc(var(--line4-start) + (var(--line4-end) * 1%)),
    #000 var(--line5-start), transparent var(--line5-start), transparent calc(var(--line5-start) + (var(--line5-end) * 1%)), #000 calc(var(--line5-start) + (var(--line5-end) * 1%)),
    #000 var(--line6-start), transparent var(--line6-start), transparent calc(var(--line6-start) + (var(--line6-end) * 1%)), #000 calc(var(--line6-start) + (var(--line6-end) * 1%)),
    #000 var(--line7-start), transparent var(--line7-start), transparent calc(var(--line7-start) + (var(--line7-end) * 1%)), #000 calc(var(--line7-start) + (var(--line7-end) * 1%)),
    #000 var(--line8-start), transparent var(--line8-start), transparent calc(var(--line8-start) + (var(--line8-end) * 1%)), #000 calc(var(--line8-start) + (var(--line8-end) * 1%)),
    #000 var(--line9-start), transparent var(--line9-start), transparent calc(var(--line9-start) + (var(--line9-end) * 1%)), #000 calc(var(--line9-start) + (var(--line9-end) * 1%)),
    #000 50%
    );

    /*background: rgb(0,0,0);*/
    /*background: radial-gradient(circle, rgba(0,0,0,1) 5%, rgba(255,247,235,1) 6%, rgba(204,221,227,1) 7%, rgba(244,235,204,1) 9%, rgba(171,162,255,1) 15%, rgba(55,255,229,1) 21%, rgba(195,255,129,1) 24%, rgba(0,189,12,1) 27%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 40%);*/
}

/*    */

.orange {
    color: darkorange;
}

.mountains {
    position: relative;
    width: 30vw;
    /*margin-top: -10vw;*/
    top: 17vw;
    left: 7vw;
}

.stars {

}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

#car {
    top: 15vw;
    z-index: 20;
    position: relative;
}

#img-car {

    width: 20vw;
}

.top-bar {
    z-index: 30 !important
}

.m1 {
    fill: #dba0fa;
}

.m2 {
    fill: #0a60eb;
}

.m3 {
    fill: #302a6a;
}

.myImg {
    width: 30%;
    margin-top: 20px;
}

.formHolder {
    width: 50vw;
    padding: 10px;
    margin: auto;
}

.contact-me-text {
    width: 50vw;
    padding: 10px;
    margin: auto;
    font-family: 'Inter', sans-serif !important;

}

.contact-me-button {
    padding: 10px;
    width: 20vw;
    margin: auto;
    margin-bottom: 30px;
    background-color: black;
}

.about-cv {
    border: 1px solid #ffffff;
    padding: 5px;
}

.about-active {
    color: darkorange;
}

.contact-active {
    color: #ff5891;
}

p.education{
    margin-bottom: 0px;
}

p.education-where{
    margin-top: 5px;
    color: #dddddd;
}

.margin-topbottom{
    margin-top: 40px!important;
    margin-bottom: 40px!important;
}

@media screen and (max-width: 992px) {
    .padding-leftright {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.mainMenu{
    background: linear-gradient(230deg, #272727 1.55%, #000000 95.8%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: none;
    text-align: center;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mainMenu-inner{
    margin-top: 10px;
    width: 100vw;
}

.act {
    display: flex;
    /*transform: scale(0);*/
    -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.mainMenu-inner a div {
    padding: 10px;
    width: 80vw;
    margin-bottom: 40px;
}

.margin-0{
    margin:0;
}

@media screen and (min-width: 992px) {
    .menu-button {
        display: none!important;
    }

}

@media screen and (max-width: 993px) {
    .pages {
        display: none!important;
    }
    .title{
        padding: 20px!important;
    }

    .contact-me-button {
        width: 60vw;
    }

    .contact-me-text {
        width: 80vw;
    }

    .perspective-container{
        display: none;
    }
}

.fa.menu-button{
    font-size: 22px !important;
}

.w-100{
    width: 100vw!important;
}
h2.new-h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1.2rem!important;
}

h1.new-h1{
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 1.2rem;
    padding-right: 16px;
    padding-left: 16px;
}

p.new-p-home{
    margin-top: 30px;
    margin-bottom: 40px;
}