@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-Regular-slnt=0.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::-moz-selection {
    background: #fc6
}

::selection {
    background: #fc6
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #000000 !important;
    /*background-color: #1D1D1D !important;*/
    color: #acacac !important;
    /*font-family: Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;*/
    line-height: 1.5!important;
    font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif !important;

}


.w3-button:hover {
    background-color: inherit !important;
    color: #8dbffd !important;
}

.padding-leftright {
    padding-left: 1rem;
    padding-right: 1rem;
}
.padding-leftright-big {
    padding-left: 20rem;
    padding-right: 20rem;
}

/* ICONS */
.fa {
    padding: 14px;
    font-size: 25px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #000000;
    color: white;
    /*border-radius: 100%;*/
}

.fa-linkedin {
    background: #000;
    color: white;
    /*border-radius: 100%;*/
}

.fa-android {
    background: #a4c639;
    color: white;
}

.banner {
    /*margin-top: 55px;*/
    margin-top: 85px;
}

a {
    text-decoration: none !important;
}

/*   */
.container {
    position: relative;
    text-align: center;
    color: white;
}

.container:hover {
    /*opacity: 0.7;*/
    border: 1px solid white;
    border-image: linear-gradient(to right, #efceff 0%, #c7e2ff 25%, #e7ffba 50%, #ffecb8 75%, #ffc4e3 100%);
    border-image: linear-gradient(to top, #c7e2ff 0%, #e3a5fc 20%, #efceff 40%, #000000 60%, #000000 80%, #000000 100%);
    border-image-slice: 1;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.container {
    border: 1px solid transparent;
    /*border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);*/

    /*border-image: linear-gradient(to top, #3f51b5 0%, #b827fc 20%, #fd1892 40%, #000000 60%, #000000 80%, #30ff3a 100%);*/
    /*box-shadow: 0px 4px 19px 0px #3f51b560;*/
    border-image: linear-gradient(to top, #3f51b5 0%, #b827fc 30%, #fd1892 40%, #000000 60%, #000000 80%, #000000 100%);
    box-shadow: 0px 4px 19px 0px #3f51b5f0;
    border-image-slice: 1;

}

.rainbow-round {
    /*border-radius: 100%;*/
    box-shadow: 0px 4px 19px 0px #3f51b5f0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

.rainbow-line {
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}

/* HEADER*/
.perspective-container {
    overflow: hidden; /* so we dont get any undesired scrolling in the browser window */
    width: 70vw;
    /*height: 22vw;*/
    /*width: 100%;*/
    margin: auto;
    margin-top: 80px;
    /*background-color: #fff;*/
}

.electrical-bg {
    /*background-color: #fff;*/
    /*background-color: #000000;*/
}

.bottom-background {
    background-size: 30% 100px;
    /*background-image: linear-gradient(to right, #7cb9fd 2px, transparent 1px), linear-gradient(to bottom, #319baa 2px, transparent 1px);*/
    /*background: repeating-linear-gradient(-90deg, transparent, transparent 6px, #464646 6px, #464646 50%), repeating-linear-gradient(0deg, #464646, #464646 20px, #ffffff 2px, #ffffff 50%);*/
    background: repeating-linear-gradient(-90deg, transparent, transparent 6px, #222222 6px, #222222 50%), repeating-linear-gradient(0deg, #222222, #222222 20px, #ffffff 2px, #ffffff 50%);
    width: 60%;
    /*height: 50vh;*/
    height: 18vw;
    /*bottom: 10vw;*/

    /*top: -8vw;*/
    /*margin-top: 10vw;*/
    transform: perspective(150px) rotateX(70deg) scale(1);
    z-index: -1;
    -webkit-animation: myanim 0.7s infinite;
    -moz-animation: myanim 0.7s infinite;
    -o-animation: myanim 0.7s infinite;
    animation: myanim 0.7s infinite;
}

@-webkit-keyframes myanim {
    0% {
        background-position: 0 0px;
        background-size: 30% 100px;
    }
    25% {
        background-position: 0 25px;
        background-size: 30% 100px;
    }
    50% {
        background-position: 0 50px;
        background-size: 30% 100px;
    }
    75% {
        background-position: 0 75px;
        background-size: 30% 100px;
    }
    100% {
        background-position: 0 100px;
        background-size: 30% 100px;
    }
}

@-moz-keyframes myanim {
    0% {
        background-position: 0 0px;
        background-size: 30% 100px;
    }
    25% {
        background-position: 0 25px;
        background-size: 30% 100px;
    }
    50% {
        background-position: 0 50px;
        background-size: 30% 100px;
    }
    75% {
        background-position: 0 75px;
        background-size: 30% 100px;
    }
    100% {
        background-position: 0 100px;
        background-size: 30% 100px;
    }
}

@-o-keyframes myanim {
    0% {
        background-position: 0 0px;
        background-size: 30% 100px;
    }
    25% {
        background-position: 0 25px;
        background-size: 30% 100px;
    }
    50% {
        background-position: 0 50px;
        background-size: 30% 100px;
    }
    75% {
        background-position: 0 75px;
        background-size: 30% 100px;
    }
    100% {
        background-position: 0 100px;
        background-size: 30% 100px;
    }
}

@keyframes myanim {
    0% {
        background-position: 0 0px;
        background-size: 30% 100px;
    }
    25% {
        background-position: 0 25px;
        background-size: 30% 100px;
    }
    50% {
        background-position: 0 50px;
        background-size: 30% 100px;
    }
    75% {
        background-position: 0 75px;
        background-size: 30% 100px;
    }
    100% {
        background-position: 0 100px;
        background-size: 30% 100px;
    }
}

.night-bottom-bg {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #7cb9fd 2px, transparent 1px), linear-gradient(to bottom, #319baa 2px, transparent 1px);
    -webkit-animation: myanim2 0.7s infinite;
    -moz-animation: myanim2 0.7s infinite;
    -o-animation: myanim2 0.7s infinite;
    animation: myanim2 0.7s infinite;
}

@-webkit-keyframes myanim2 {
    0% {
        background-size: 20px 20px;
    }
    25% {
        background-size: 20px 21px;
    }
    50% {
        background-size: 20px 22px;
    }
    75% {
        background-size: 20px 23px;
    }
    100% {
        background-size: 20px 24px;
    }
}

@-moz-keyframes myanim2 {
    0% {
        background-size: 20px 20px;
    }
    25% {
        background-size: 20px 21px;
    }
    50% {
        background-size: 20px 22px;
    }
    75% {
        background-size: 20px 23px;
    }
    100% {
        background-size: 20px 24px;
    }
}

@-o-keyframes myanim2 {
    0% {
        background-size: 20px 20px;
    }
    25% {
        background-size: 20px 21px;
    }
    50% {
        background-size: 20px 22px;
    }
    75% {
        background-size: 20px 23px;
    }
    100% {
        background-size: 20px 24px;
    }
}

@keyframes myanim2 {
    0% {
        background-size: 20px 20px;
    }
    25% {
        background-size: 20px 21px;
    }
    50% {
        background-size: 20px 22px;
    }
    75% {
        background-size: 20px 23px;
    }
    100% {
        background-size: 20px 24px;
    }
}

.sun2 {
    background: rgb(255, 247, 235);
    background: radial-gradient(circle at 20% 40%, rgba(255, 247, 235, 1) 2%, rgba(204, 221, 227, 1) 3%, rgba(244, 235, 204, 1) 5%, rgba(247, 228, 169, 1) 8%, rgba(247, 224, 104, 1) 13%, rgba(251, 208, 93, 1) 17%, rgba(255, 192, 82, 1) 23%, rgba(255, 158, 90, 1) 34%, rgba(237, 143, 103, 1) 44%, rgba(205, 123, 113, 1) 58%, rgba(170, 123, 133, 1) 71%, rgba(150, 113, 129, 1) 87%, rgba(115, 93, 113, 1) 100%);
    /*z-index: 10;*/
    /*opacity: 0.5;*/
    height: 30vw;
    width: inherit;
    clear: both;
    position: absolute;
}

.sun {
    border-radius: 100%;
    overflow: hidden;
    width: 20vw;
    height: 20vw;
    position: absolute;
    left: 25vw;
    /*background-color: #36006c;*/
    background: rgb(253, 0, 201);
    background: linear-gradient(0deg, rgb(253, 0, 235) 24%, rgba(255, 235, 0, 1) 100%);

    /*-webkit-box-shadow: 0px 0px 50px 15px #ECACFF;*/
    /*box-shadow: 0px 0px 50px 15px #ECACFF;*/

    /*-webkit-box-shadow: 0px 0px 10px -5px #fffdfe;*/
    /*box-shadow: 0px 0px 10px -5px #fff8f8;*/

    /* Lines */
    --line2-start: 1%;
    --line2-end: 3;
    --line3-start: 0%;
    --line3-end: 3;
    --line4-start: 8%;
    --line4-end: 3;
    --line5-start: 16%;
    --line5-end: 3;
    --line6-start: 23%;
    --line6-end: 2;
    --line7-start: 29%;
    --line7-end: 2;
    --line8-start: 35%;
    --line8-end: 1;
    --line9-start: 40%;
    --line9-end: 0.5;

    -webkit-mask-image: linear-gradient(to top,
    #000 0%,
    #000 var(--line2-start), transparent var(--line2-start), transparent calc(var(--line2-start) + (var(--line2-end) * 1%)), #000 calc(var(--line2-start) + (var(--line2-end) * 1%)),
    #000 var(--line3-start), transparent var(--line3-start), transparent calc(var(--line3-start) + (var(--line3-end) * 1%)), #000 calc(var(--line3-start) + (var(--line3-end) * 1%)),
    #000 var(--line4-start), transparent var(--line4-start), transparent calc(var(--line4-start) + (var(--line4-end) * 1%)), #000 calc(var(--line4-start) + (var(--line4-end) * 1%)),
    #000 var(--line5-start), transparent var(--line5-start), transparent calc(var(--line5-start) + (var(--line5-end) * 1%)), #000 calc(var(--line5-start) + (var(--line5-end) * 1%)),
    #000 var(--line6-start), transparent var(--line6-start), transparent calc(var(--line6-start) + (var(--line6-end) * 1%)), #000 calc(var(--line6-start) + (var(--line6-end) * 1%)),
    #000 var(--line7-start), transparent var(--line7-start), transparent calc(var(--line7-start) + (var(--line7-end) * 1%)), #000 calc(var(--line7-start) + (var(--line7-end) * 1%)),
    #000 var(--line8-start), transparent var(--line8-start), transparent calc(var(--line8-start) + (var(--line8-end) * 1%)), #000 calc(var(--line8-start) + (var(--line8-end) * 1%)),
    #000 var(--line9-start), transparent var(--line9-start), transparent calc(var(--line9-start) + (var(--line9-end) * 1%)), #000 calc(var(--line9-start) + (var(--line9-end) * 1%)),
    #000 50%
    );

    /*background: rgb(0,0,0);*/
    /*background: radial-gradient(circle, rgba(0,0,0,1) 5%, rgba(255,247,235,1) 6%, rgba(204,221,227,1) 7%, rgba(244,235,204,1) 9%, rgba(171,162,255,1) 15%, rgba(55,255,229,1) 21%, rgba(195,255,129,1) 24%, rgba(0,189,12,1) 27%, rgba(0,0,0,1) 28%, rgba(0,0,0,1) 40%);*/
}

/*    */

.orange {
    color: darkorange;
}



.mountains {
    position: relative;
    width: 30vw;
    /*margin-top: -10vw;*/
    top: 17vw;
    left: 7vw;
}

.stars {

}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

#car {
    top: 15vw;
    z-index: 20;
    position: relative;
}

#img-car {

    width: 20vw;
}

.top-bar {
    z-index: 30 !important
}
.top-bar .w3-bar .w3-button{
    font-size: 12px!important;
}

.m1 {
    fill: #dba0fa;
}

.m2 {
    fill: #0a60eb;
}

.m3 {
    fill: #302a6a;
}

.myImg {
    width: 20%;
    margin-top: 20px;
}

.formHolder {
    width: 50vw;
    padding: 10px;
    margin: auto;
}

.contact-me-text {
    width: 50vw;
    padding: 10px;
    margin: auto;
    font-family: 'Inter', sans-serif !important;

}

.contact-me-button {
    padding: 10px;
    width: 20vw;
    margin: auto;
    margin-bottom: 30px;
    background-color: black;
    margin-top: 30px;
    box-shadow: 0px 4px 19px 0px #3f51b5f0;
}

.about-cv {
    padding: 15px;
    box-shadow: 0px 4px 19px 0px #3f51b5f0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    color: white;
}

.about-active {
    color: #ffc442;
}

.contact-active {
    color: #ff5891;
}

p.education{
    margin-bottom: 0px;
}

p.education-where{
    margin-top: 5px;
    color: #dddddd;
}

.margin-topbottom{
    margin-top: 40px!important;
    margin-bottom: 40px!important;
}


.mainMenu{
    background: linear-gradient(230deg, #272727 1.55%, #000000 95.8%);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: none;
    text-align: center;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mainMenu-inner{
    margin-top: 10px;
    width: 100vw;
}

/*a{*/
/*    color: #6b80f4;*/
/*}*/

.act {
    display: flex;
    /*transform: scale(0);*/
    -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.mainMenu-inner a div {
    padding: 10px;
    width: 80vw;
    margin-bottom: 40px;
}

.margin-0{
    margin:0;
}

@media screen and (min-width: 992px) {
    .menu-button {
        display: none!important;
    }

}

@media screen and (max-width: 993px) {
    .padding-leftright {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .pages {
        display: none!important;
    }
    .title{
        padding: 14px!important;
    }

    .contact-me-button {
        width: 60vw;
    }

    .contact-me-text {
        width: 80vw;
    }

    .perspective-container{
        display: none;
    }
    .w3-top .w3-padding{
        padding: 0!important;
    }
    h1.new-h1 {
        margin-top: 80px!important;
    }
    .w3-wide2 {
        letter-spacing: 0px!important;
    }
    .padding-leftright-big {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .projectsSection{
        max-width: 400px!important;
    }
}

.w3-bar{
    -webkit-box-shadow: 0px 4px 19px 0px #86F7FF60;
    -moz-box-shadow: 0px 4px 19px 0px #86F7FF60;
    box-shadow: 0px 4px 19px 0px #86F7FF60;
}

.fa.menu-button{
    font-size: 22px!important
}

.w-100{
    width: 100vw!important;
}
h2.new-h2{
    line-height: 1.5!important;
    margin: 10px 0;
    font-size: 15px;
    letter-spacing: 4px;
    color: white;
    box-shadow: 0px 4px 19px 0px #3f51b5f0;
    text-align: center;
}

h3.new-h3{
    padding-top: 50px;
    font-size: 15px!important;
    letter-spacing: 4px;
    text-align: center;
}

h4.new-h4{
    font-size: 15px!important;
    text-align: center;
}

h3{
    font-size: 1.2rem!important;
}

.container h3{
    font-size: 1rem!important;
}

.skills{
    font-size: 15px!important;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    margin-bottom: 45px;
    margin-top: 45px;
}

h1.new-h1{
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 1.2rem;
    padding-right: 16px;
    padding-left: 16px;


    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
    /*box-shadow: 0px 4px 19px 0px #3f51b5f0;*/
    /*padding-bottom: 16px;*/
    /*padding-top: 16px;*/


}

p.new-p-home{
    margin-top: 0;
    margin-bottom: 20px;
}
p.new-p-home2{
    margin-bottom: 0px;
    text-align: justify;
}
.w3-wide2 {
    letter-spacing: 2px;
}

.perspective-container2 {
    overflow: hidden;
    width: 70vw;
    /* height: 22vw; */
    /* width: 100%; */
    margin: auto;
    margin-top: 80px;
    /* background-color: #fff; */
}

.projectsSection .w3-col{
    padding: 0 2rem;
    text-align: justify;
}

.projectsSection{

    max-width: 1000px;
    width: 100%;
    margin: auto;
}

footer{
    font-size: 12px;
}

/* SCROLL BAR*/
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #3f51b5 0%, #b827fc 40%, #fd1892 80%, #000000 100%);
    /*border-image-slice: 1;;*/
    /*border-radius: 20px;*/
    border: 6px solid black;

}
/**/

/*LOADER*/
.no-js #loader-wrapper {
    display: none;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: black;
}
#loader {
    font-size: 110px;
    text-align: center;

    z-index: 1001;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 180px;
    height: 180px;
    margin: -90px 0 0 -90px;

    /*border: 3px solid #3498db;*/
    border: 1px solid transparent;
    /*border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);*/
    border-image: linear-gradient(to top, #3f51b5 0%, #b827fc 30%, #fd1892 40%, #000000 60%, #000000 80%, #000000 100%);
    box-shadow: 0px 4px 19px 0px #3f51b5f0;
    border-image-slice: 1;
    z-index: 1500;

}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #f19ffc;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #98f9cd;
    -webkit-animation: spin 1s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
.loaded #loader-wrapper {
    visibility: hidden;
}
.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    opacity: 0;
    -webkit-transition: all 1.2s ease-out;
    transition: all 1.2s ease-out;
}

.text-pop-up-right {
    color: black;
    font-size: 120px;
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: white;*/
    -webkit-animation: text-pop-up-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes text-pop-up-right {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px -1px 0 #fff, 0px 1px 0 #fff, 0 2px 0 #3f51b5, 0 4px 0 #b827fc, 0 6px 0 #fd1892, 0 8px 0 rgba(255, 255, 255, 0),0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
@keyframes text-pop-up-right {
    0% {
        text-shadow: none;
    }
    100% {
        text-shadow: 0px -1px 0 #fff, 0px 1px 0 #fff, 0 2px 0 #3f51b5, 0 4px 0 #b827fc, 0 6px 0 #fd1892, 0 8px 0 rgba(255, 255, 255, 0),0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
/**/
/* SHOW ON SCROLL*/
.show-section {
    opacity: 0;
    transition: opacity 1.5s .25s ease-out;
    will-change: transform, opacity;
}

.show-section.is-visible {
    opacity: 1;
}
/**/

a .white{
    color: white!important;
    font-weight: normal;
}

/* --------------------------- highschool */

.panel {
    position: absolute;
    bottom: 12.5vh;
    left: 43vw;

    width: 140px;
    height: 393px;
    /* margin: 20px; */
    font-size: .8em;
    -webkit-perspective: 600px;
            perspective: 600px;
  }
.panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    /* background: #008800; */
    background: url(/images/door.jpg);
  background-size: contain;
  
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }
  .panel.flip .front {
    z-index: 900;

    /* same */
background: url(/images/door.jpg);
  background-size: contain;
    
    box-shadow: 0 15px 50px rgba(100,120,0,0.2);

    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }

  .panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    background: #222;

    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }

  .panel.flip .back {
    z-index: 1000;
    background: #80868d;

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);

  }

  /* -- X axis rotation for click panel -- */
  .click .front {
    cursor: pointer;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  .click.flip .front {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  .click .back {
    cursor: pointer;
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  .click.flip .back {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
.swing .front,
  .swing .back {
    width: 140px;

    -webkit-transition-duration: 1s;
            transition-duration: 1s;

    -webkit-transform-origin: 140px 0;
            transform-origin: 140px 0;
  }
  .swing .front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .swing .back {
    background-color: #555; /* hiding this side, so get darker */
    -webkit-transform: rotateY(-180deg) translateX(145px) translateZ(2px);
            transform: rotateY(-180deg) translateX(145px) translateZ(2px);
  }

  .swing.flip .front {
    background-color: #222; /* hiding this side, so get darker */
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .swing.flip .back {
    background-color: #44ffee;
    -webkit-transform: rotateY(0) translateX(145px) translateZ(2px);
            transform: rotateY(0) translateX(145px) translateZ(2px);
  }


body{
    background: url(/images/locker.jpg);
  background-size: cover;
}

.main{
    height: 100vh;
}

.main__title{
    margin: 0;
}



/* --------------------------- highschool */
.panel {
        z-index: 1;
        position: absolute;
        bottom: 40vh;
        left: calc(50vw - 18.9vh - 4px);
        height: 54vh;
        width: 18.9vh;
        font-size: 0.8em;
        -webkit-perspective: 600px;
        perspective: 600px;
}
.panel .front {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        width: inherit;
        height: inherit;
       /* background: #008800;
        */
        background: url(../images/door.jpg);
        background-size: contain;
        text-align: center;
        -webkit-transform: rotateX(0) rotateY(0);
        transform: rotateX(0) rotateY(0);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
       /* -- transition is the magic sauce for animation -- */
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
}
.panel.flip .front {
        z-index: 900;
       /* same */
        background: url(../images/door.jpg);
        background-size: contain;
        -webkit-transform: rotateY(179deg);
        transform: rotateY(179deg);
}
.panel .back {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        width: inherit;
        height: inherit;
        background: url(../images/door-back.jpg);
        background-size: contain;
        -webkit-transform: rotateY(-179deg);
        transform: rotateY(-179deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
       /* -- transition is the magic sauce for animation -- */
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
}
.panel.flip .back {
        z-index: 1000;
        background: url(../images/door-back.jpg);
        background-size: contain;
        -webkit-transform: rotateX(0) rotateY(0);
        transform: rotateX(0) rotateY(0);
}
.swing .front:hover {
        -webkit-transform: rotateY(10deg);
        transform: rotateY(10deg);
}
/* -- X axis rotation for click panel -- */
.click .front {
        cursor: pointer;
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
}
.click.flip .front {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
}
.click .back {
        cursor: pointer;
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
}
.click.flip .back {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
}
.swing .front, .swing .back {
        width: 18.9vh;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transform-origin: 18.9vh 0;
        transform-origin: 18.9vh 0;
}
.swing .front {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
}
.swing .back {
        background-color: #555;
       /* hiding this side, so get darker */
        -webkit-transform: rotateY(-180deg) translateX(18vh) translateZ(2px);
        transform: rotateY(-180deg) translateX(18vh) translateZ(2px);
}
.swing.flip .front {
        background-color: #222;
       /* hiding this side, so get darker */
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}
.swing.flip .back {
        background: url(../images/door-back.jpg);
        background-size: contain;
        -webkit-transform: rotateY(0) translateX(18vh) translateZ(2px);
        transform: rotateY(0) translateX(18vh) translateZ(2px);
}
.main {
        font-family: Arial, Helvetica, sans-serif;
        height: 100vh;
        background: url(../images/locker.jpg);
        background-color: #6c6c6c;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
        display: flex;
        justify-content: center;
}
.main__title {
        display: none;
        margin: 0;
        position: absolute;
        font-size: 6rem;
        z-index: 2;
        pointer-events: none;
}
.book {
        display: block;
        background-color: #e8d8a8;
        border-color: #2a7a02;
        border-width: 0.567vh;
        border-bottom-left-radius: 0.567vh;
        border-left-width: 0.7938vh;
        border-top-left-radius: 0.567vh;
        border-right-color: #92918f;
        border-style: solid;
        box-shadow: inset 0.567vh 0.3402vh 0.567vh #c8c8c8;
        height: 3.7422vh;
        position: relative;
        opacity: 1;
        width: 15.12vh;
        margin: 0;
        margin-top: 1px;
        margin-left: 1.8144vh;
        cursor: default;
}
.book:before, .book:after {
        border-bottom: 0.3402vh solid #dec884;
        border-top: 0.3402vh solid #dec884;
        content: "";
        height: 1.134vh;
        left: 0.4536vh;
        position: absolute;
        top: 1.134vh;
        width: 95%;
        cursor: inherit;
}
.book:after {
        bottom: 0.567vh;
        top: 0.5vh;
}
.book:nth-of-type(1) {
        animation-delay: 4s;
        margin-left: 1.134vh;
        cursor: pointer;
}
.book:nth-of-type(1) .booktext {
        background: #2a7a02;
}
.book:nth-of-type(2) {
        animation-delay: 3s;
        border-color: #be1c9b;
        border-left-color: #92918f;
        background-color: #ebddb4;
        box-shadow: inset -0.567vh 0.3402vh 0.567vh #c8c8c8;
        margin-left: 2.9484vh;
        border-bottom-right-radius: 0.567vh;
        border-top-right-radius: 0.567vh;
        cursor: pointer;
}
.book:nth-of-type(2) .booktext {
        background: #be1c9b;
}
.book:nth-of-type(3) {
        border-color: #007bab;
        border-right-color: #92918f;
        animation-delay: 0s;
        margin-left: 2.6082vh;
        opacity: 1;
        cursor: pointer;
}
.book:nth-of-type(3) .booktext {
        background: #007bab;
}
.book:nth-of-type(4) {
        animation-delay: 1s;
        margin-left: 0.7938vh;
        border-color: #d08b00;
        border-left-color: #92918f;
        border-bottom-right-radius: 0.567vh;
        border-top-right-radius: 0.567vh;
        background-color: #ebddb4;
        box-shadow: inset -0.567vh 0.3402vh 0.567vh #c8c8c8;
}
.book:nth-of-type(5) {
        animation-delay: 0s;
        margin-left: 2.6082vh;
        opacity: 1;
        border-color: #9db100;
        border-left-color: #92918f;
}
.inner--open .book:hover:nth-of-type(3), .inner--open .book:hover:nth-of-type(2), .inner--open .book:hover:nth-of-type(1) {
        background: white;
        animation: stack 0.3s linear forwards;
}
.inner--open .book:hover:nth-of-type(3) > .booktext, .inner--open .book:hover:nth-of-type(2) > .booktext, .inner--open .book:hover:nth-of-type(1) > .booktext {
        pointer-events: all;
        display: block;
        animation: textanim 0.3s linear forwards;
}
.stack {
        position: absolute;
        bottom: 1vh;
        width: 100%;
}
.inner {
        position: absolute;
        bottom: 40vh;
        left: calc(50vw - 18.9vh - 4px);
        height: 54vh;
        width: 18.9vh;
        z-index: 0;
        transition-duration: 2s;
}
.inner--open {
        z-index: 1;
}
@keyframes stack {
        100% {
                margin-left: 1.8144vh;
                opacity: 1;
       }
}
@keyframes textanim {
        100% {
                opacity: 1;
       }
}
.booktext {
        overflow-wrap: break-word;
        position: absolute;
        padding: 4px 12px;
        left: 17.01vh;
        bottom: -10px;
        font-size: 16px;
        text-align: right;
        opacity: 0;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        border-radius: 24px;
        pointer-events: none;
        width: max-content;
        display: none;
        color: white;
}
.front:before {
        content: "★";
        position: absolute;
        top: 0.7938vh;
        right: 1.8144vh;
        font-size: 6.3vh;
        color: #dfa300;
        text-shadow: 1px 1px 5px rgba(93, 93, 93, 0.5);
}
.front:after {
        content: "♫";
        position: absolute;
        top: 5.4432vh;
        left: 1.8144vh;
        font-size: 5.4vh;
        color: #292929;
        text-shadow: 1px 1px 5px rgba(93, 93, 93, 0.5);
}
@media screen and (max-width: 991px) {
        .booktext {
                max-width: 146px;
                overflow-wrap: break-word;
       }
}
.inner:before {
        content: "☁";
        position: absolute;
        top: 3.6288vh;
        right: 1.8144vh;
        font-size: 9.45vh;
        color: #bde2e1;
        text-shadow: 1px 1px 5px rgba(93, 93, 93, 0.5);
}
.inner:after {
        content: "☻";
        position: absolute;
        top: 9.072vh;
        left: 2.7216vh;
        font-size: 6.3vh;
        color: #ffea00;
        text-shadow: 1px 1px 5px rgba(93, 93, 93, 0.5);
}
