
@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-LightItalic.ttf);
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Italic.ttf);
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic
}

*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::-moz-selection {
    background: #fc6
}

::selection {
    background: #fc6
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #acacac;
    font-family: Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;
    line-height: 1.5
}
.w3-button:hover{
    background-color: inherit!important;
    color: #ffc700 !important;
}
.padding-leftright{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* ICONS */
.fa {
    padding: 20px;
    font-size: 30px!important;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-github {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-android {
    background: #a4c639;
    color: white;
}

.banner{
    /*margin-top: 55px;*/
    margin-top: 85px;
}

a{
    text-decoration: none!important;
}

/*   */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.container:hover{
    transform: scale(0.95);
    transition: .3s ease-in-out;
}

.rainbow-line{
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
}
/* HEADER*/
.perspective-container {
    overflow: hidden; /* so we dont get any undesired scrolling in the browser window */
    width: 50vw;
    height: 20vw;
    margin: auto;
    margin-top: 100px;
}

.bottom-background {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #b827fc 1px, #2c90fc 1px, #b8fd33 1px, #fec837 1px, #fd1892 1px, transparent 1px), linear-gradient(to bottom, green 1px, transparent 1px);
    width: 100%;
    /*height: 50vh;*/
    height: 180px;
    bottom: 0;
    margin-top: 5vw;
    transform: perspective(400px) rotateX(70deg) scale(2);
}
.sun{
    border-radius: 100%;
    overflow: hidden;
    width: 15vw;
    height: 15vw;
    position: absolute;
    left: 43vw;
    /*background-color: #36006c;*/
    --sun-top: #f0c;
    --sun-bottom: #80f;
    background-color: var(--sun-top);
    background-image: linear-gradient(to bottom, transparent, var(--sun-bottom));
    /* Lines */
    --line1-start: 2%;
    --line1-end: 5;
    --line2-start: 7%;
    --line2-end: 5;
    --line3-start: 14%;
    --line3-end: 4;
    --line4-start: 20%;
    --line4-end: 4;
    --line5-start: 25%;
    --line5-end: 3;
    --line6-start: 30%;
    --line6-end: 2;
    --line7-start: 35%;
    --line7-end: 2;
    --line8-start: 40%;
    --line8-end: 1;
    --line9-start: 45%;
    --line9-end: 0.5;

    -webkit-mask-image:
            linear-gradient(to top,
            #000 0%,
            #000 var(--line1-start), transparent var(--line1-start), transparent calc(var(--line1-start) + (var(--line1-end) * 1%)), #000 calc(var(--line1-start) + (var(--line1-end) * 1%)),
            #000 var(--line2-start), transparent var(--line2-start), transparent calc(var(--line2-start) + (var(--line2-end) * 1%)), #000 calc(var(--line2-start) + (var(--line2-end) * 1%)),
            #000 var(--line3-start), transparent var(--line3-start), transparent calc(var(--line3-start) + (var(--line3-end) * 1%)), #000 calc(var(--line3-start) + (var(--line3-end) * 1%)),
            #000 var(--line4-start), transparent var(--line4-start), transparent calc(var(--line4-start) + (var(--line4-end) * 1%)), #000 calc(var(--line4-start) + (var(--line4-end) * 1%)),
            #000 var(--line5-start), transparent var(--line5-start), transparent calc(var(--line5-start) + (var(--line5-end) * 1%)), #000 calc(var(--line5-start) + (var(--line5-end) * 1%)),
            #000 var(--line6-start), transparent var(--line6-start), transparent calc(var(--line6-start) + (var(--line6-end) * 1%)), #000 calc(var(--line6-start) + (var(--line6-end) * 1%)),
            #000 var(--line7-start), transparent var(--line7-start), transparent calc(var(--line7-start) + (var(--line7-end) * 1%)), #000 calc(var(--line7-start) + (var(--line7-end) * 1%)),
            #000 var(--line8-start), transparent var(--line8-start), transparent calc(var(--line8-start) + (var(--line8-end) * 1%)), #000 calc(var(--line8-start) + (var(--line8-end) * 1%)),
            #000 var(--line9-start), transparent var(--line9-start), transparent calc(var(--line9-start) + (var(--line9-end) * 1%)), #000 calc(var(--line9-start) + (var(--line9-end) * 1%)),
            #000 100%
            );
}


