


/* --------------------------- highschool */

.panel {
    position: absolute;
    bottom: 12.5vh;
    left: 43vw;

    width: 140px;
    height: 393px;
    margin: 20px;
    font-size: .8em;
    -webkit-perspective: 600px;
            perspective: 600px;
  }
.panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    /* background: #008800; */
    background: url(/images/door.jpg);
  background-size: contain;
  
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }
  .panel.flip .front {
    z-index: 900;

    /* same */
background: url(/images/door.jpg);
  background-size: contain;
    
    box-shadow: 0 15px 50px rgba(100,120,0,0.2);

    -webkit-transform: rotateY(179deg);
            transform: rotateY(179deg);
  }

  .panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    background: #222;

    -webkit-transform: rotateY(-179deg);
            transform: rotateY(-179deg);

    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
  }

  .panel.flip .back {
    z-index: 1000;
    background: #80868d;

    -webkit-transform: rotateX(0) rotateY(0);
            transform: rotateX(0) rotateY(0);

  }

  /* -- X axis rotation for click panel -- */
  .click .front {
    cursor: pointer;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  .click.flip .front {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  .click .back {
    cursor: pointer;
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  .click.flip .back {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
.swing .front,
  .swing .back {
    width: 140px;

    -webkit-transition-duration: 1s;
            transition-duration: 1s;

    -webkit-transform-origin: 140px 0;
            transform-origin: 140px 0;
  }
  .swing .front {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .swing .back {
    background-color: #555; /* hiding this side, so get darker */
    -webkit-transform: rotateY(-180deg) translateX(145px) translateZ(2px);
            transform: rotateY(-180deg) translateX(145px) translateZ(2px);
  }

  .swing.flip .front {
    background-color: #222; /* hiding this side, so get darker */
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .swing.flip .back {
    background-color: #44ffee;
    -webkit-transform: rotateY(0) translateX(145px) translateZ(2px);
            transform: rotateY(0) translateX(145px) translateZ(2px);
  }


body{
    background: url(/images/locker.jpg);
  background-size: cover;
}

.main{
    height: 100vh;
}

.main__title{
    margin: 0;
}



//---------

/* --------------------------- highschool */
.panel {
        z-index: 1;
        position: absolute;
        bottom: 40vh;
        left: calc(50vw - 18.9vh - 4px);
        height: 54vh;
        width: 18.9vh;
        font-size: 0.8em;
        -webkit-perspective: 600px;
        perspective: 600px;
}
.panel .front {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 900;
        width: inherit;
        height: inherit;
       /* background: #008800;
        */
        background: url(../images/door.jpg);
        background-size: contain;
        text-align: center;
        -webkit-transform: rotateX(0) rotateY(0);
        transform: rotateX(0) rotateY(0);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
       /* -- transition is the magic sauce for animation -- */
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
}
.panel.flip .front {
        z-index: 900;
       /* same */
        background: url(../images/door.jpg);
        background-size: contain;
        -webkit-transform: rotateY(179deg);
        transform: rotateY(179deg);
}
.panel .back {
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 800;
        width: inherit;
        height: inherit;
        background: url(../images/door-back.jpg);
        background-size: contain;
        -webkit-transform: rotateY(-179deg);
        transform: rotateY(-179deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
       /* -- transition is the magic sauce for animation -- */
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
}
.panel.flip .back {
        z-index: 1000;
        background: url(../images/door-back.jpg);
        background-size: contain;
        -webkit-transform: rotateX(0) rotateY(0);
        transform: rotateX(0) rotateY(0);
}
.swing .front:hover {
        -webkit-transform: rotateY(10deg);
        transform: rotateY(10deg);
}
/* -- X axis rotation for click panel -- */
.click .front {
        cursor: pointer;
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
}
.click.flip .front {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
}
.click .back {
        cursor: pointer;
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
}
.click.flip .back {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
}
.swing .front, .swing .back {
        width: 18.9vh;
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transform-origin: 18.9vh 0;
        transform-origin: 18.9vh 0;
}
.swing .front {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
}
.swing .back {
        background-color: #555;
       /* hiding this side, so get darker */
        -webkit-transform: rotateY(-180deg) translateX(18vh) translateZ(2px);
        transform: rotateY(-180deg) translateX(18vh) translateZ(2px);
}
.swing.flip .front {
        background-color: #222;
       /* hiding this side, so get darker */
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
}
.swing.flip .back {
        background: url(../images/door-back.jpg);
        background-size: contain;
        -webkit-transform: rotateY(0) translateX(18vh) translateZ(2px);
        transform: rotateY(0) translateX(18vh) translateZ(2px);
}
.main {
        font-family: Arial, Helvetica, sans-serif;
        height: 100vh;
        background: url(../images/locker.jpg);
        background-color: #6c6c6c;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center bottom;
        display: flex;
        justify-content: center;
}
.main__title {
        display: none;
        margin: 0;
        position: absolute;
        font-size: 6rem;
        z-index: 2;
        pointer-events: none;
}
.book {
        display: block;
        background-color: #e8d8a8;
        border-color: #2a7a02;
        border-width: 0.567vh;
        border-bottom-left-radius: 0.567vh;
        border-left-width: 0.7938vh;
        border-top-left-radius: 0.567vh;
        border-right-color: #92918f;
        border-style: solid;
        box-shadow: inset 0.567vh 0.3402vh 0.567vh #c8c8c8;
        height: 3.7422vh;
        position: relative;
        opacity: 1;
        width: 15.12vh;
        margin: 0;
        margin-top: 1px;
        margin-left: 1.8144vh;
        cursor: default;
}
.book:before, .book:after {
        border-bottom: 0.3402vh solid #dec884;
        border-top: 0.3402vh solid #dec884;
        content: "";
        height: 1.134vh;
        left: 0.4536vh;
        position: absolute;
        top: 1.134vh;
        width: 95%;
        cursor: inherit;
}
.book:after {
        bottom: 0.567vh;
        top: 0.5vh;
}
.book:nth-of-type(1) {
        animation-delay: 4s;
        margin-left: 1.134vh;
        cursor: pointer;
}
.book:nth-of-type(1) .booktext {
        background: #2a7a02;
}
.book:nth-of-type(2) {
        animation-delay: 3s;
        border-color: #be1c9b;
        border-left-color: #92918f;
        background-color: #ebddb4;
        box-shadow: inset -0.567vh 0.3402vh 0.567vh #c8c8c8;
        margin-left: 2.9484vh;
        border-bottom-right-radius: 0.567vh;
        border-top-right-radius: 0.567vh;
        cursor: pointer;
}
.book:nth-of-type(2) .booktext {
        background: #be1c9b;
}
.book:nth-of-type(3) {
        border-color: #007bab;
        border-right-color: #92918f;
        animation-delay: 0s;
        margin-left: 2.6082vh;
        opacity: 1;
        cursor: pointer;
}
.book:nth-of-type(3) .booktext {
        background: #007bab;
}
.book:nth-of-type(4) {
        animation-delay: 1s;
        height: calc($book-height * 0.7);
        margin-left: 0.7938vh;
        border-color: #d08b00;
        border-left-color: #92918f;
        border-bottom-right-radius: 0.567vh;
        border-top-right-radius: 0.567vh;
        background-color: #ebddb4;
        box-shadow: inset -0.567vh 0.3402vh 0.567vh #c8c8c8;
}
.book:nth-of-type(5) {
        animation-delay: 0s;
        margin-left: 2.6082vh;
        opacity: 1;
        border-color: #9db100;
        border-left-color: #92918f;
}
.inner--open .book:hover:nth-of-type(3), .inner--open .book:hover:nth-of-type(2), .inner--open .book:hover:nth-of-type(1) {
        background: white;
        animation: stack 0.3s linear forwards;
}
.inner--open .book:hover:nth-of-type(3) > .booktext, .inner--open .book:hover:nth-of-type(2) > .booktext, .inner--open .book:hover:nth-of-type(1) > .booktext {
        pointer-events: all;
        display: block;
        animation: textanim 0.3s linear forwards;
}
.stack {
        position: absolute;
        bottom: 1vh;
        width: 100%;
}
.inner {
        position: absolute;
        bottom: 40vh;
        left: calc(50vw - 18.9vh - 4px);
        height: 54vh;
        width: 18.9vh;
        z-index: 0;
        transition-duration: 2s;
}
.inner--open {
        z-index: 1;
}
@keyframes stack {
        100% {
                margin-left: 1.8144vh;
                opacity: 1;
       }
}
@keyframes textanim {
        100% {
                opacity: 1;
       }
}
.booktext {
        overflow-wrap: break-word;
        position: absolute;
        padding: 4px 12px;
        left: 17.01vh;
        bottom: -10px;
        font-size: 16px;
        text-align: right;
        opacity: 0;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        border-radius: 24px;
        pointer-events: none;
        width: max-content;
        display: none;
}
.front:before {
        content: "★";
        position: absolute;
        top: 0.7938vh;
        right: 1.8144vh;
        font-size: 6.3vh;
        color: #dfa300;
        text-shadow: 1px 1px 5px rgba(93, 93, 93, 0.5);
}
.front:after {
        content: "♫";
        position: absolute;
        top: 5.4432vh;
        left: 1.8144vh;
        font-size: 5.4vh;
        color: #292929;
        text-shadow: 1px 1px 5px rgba(93, 93, 93, 0.5);
}
@media screen and (max-width: 991px) {
        .booktext {
                max-width: 146px;
                overflow-wrap: break-word;
       }
}
.inner:before {
        content: "☁";
        position: absolute;
        top: 3.6288vh;
        right: 1.8144vh;
        font-size: 9.45vh;
        color: #bde2e1;
        text-shadow: 1px 1px 5px rgba(93, 93, 93, 0.5);
}
.inner:after {
        content: "☻";
        position: absolute;
        top: 9.072vh;
        left: 2.7216vh;
        font-size: 6.3vh;
        color: #ffea00;
        text-shadow: 1px 1px 5px rgba(93, 93, 93, 0.5);
}
