

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ #tridiv {
    perspective: 800px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    // background: #ffffff;
    font-size: 75%;
  }
  .scene, .shape, .face, .face-wrapper, .cr {
    position: absolute;
    transform-style: preserve-3d;
  }
  .scene {
    width: 80em;
    height: 80em;
    top: 50%;
    left: 50%;
    margin: -40em 0 0 -40em;
  }
  .shape {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform-origin: 50%;
  }
  .face, .face-wrapper {
    overflow: hidden;
    transform-origin: 0 0;
    backface-visibility: hidden;
    /* hidden by default, prevent blinking and other weird rendering glitchs */
  }
  .face {
    background-size: 100% 100%!important;
    background-position: center;
  }
  .face-wrapper .face {
    left: 100%;
    width: 100%;
    height: 100%
  }
  .photon-shader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
  }
  .side {
    left: 50%;
  }
  .cr, .cr .side {
    height: 100%;
  }
  [class*="cuboid"] .ft, [class*="cuboid"] .bk {
    width: 100%;
    height: 100%;
  }
  [class*="cuboid"] .bk {
    left: 100%;
  }
  [class*="cuboid"] .rt {
    transform: rotateY(-90deg) translateX(-50%);
  }
  [class*="cuboid"] .lt {
    transform: rotateY(90deg) translateX(-50%);
  }
  [class*="cuboid"] .tp {
    transform: rotateX(90deg) translateY(-50%);
  }
  [class*="cuboid"] .bm {
    transform: rotateX(-90deg) translateY(-50%);
  }
  [class*="cuboid"] .lt {
    left: 100%;
  }
  [class*="cuboid"] .bm {
    top: 100%;
  }
  [class*="cylinder"] .tp {
    transform: rotateX(90deg) translateY(-50%);
  }
  [class*="cylinder"] .bm {
    transform: rotateX(-90deg) translateY(-50%);
  }
  [class*="cylinder"] .tp, [class*="cylinder"] .bm, [class*="cylinder"] .tp .photon-shader, [class*="cylinder"] .bm .photon-shader {
    border-radius: 50%;
  }
  [class*="cylinder"] .bm {
    top: 100%;
  }
  /* .back styles */
  .back {
    transform:translate3D(-0.0625em, 0.8em, 0em) rotateX(0deg) rotateY(180deg) rotateZ(0deg);
    opacity:1;
    width:16em;
    height:.5em;
    margin:-0.25em 0 0 -8em;
  }
  .back .ft {
    transform:translateZ(16.75em);
  }
  .back .bk {
    transform:translateZ(-16.75em) rotateY(180deg);
  }
  .back .rt, .back .lt {
    width:33.5em;
    height:.5em;
  }
  .back .tp, .back .bm {
    width:16em;
    height:33.5em;
  }
  .back .face {
    background-color:#303030;
  }
  .back .bm {
    background:url(https://i.ibb.co/2qRJ1FC/black.png);
  }
  .back .ft {
    width:12.5em;
    margin-left:1.75em;
  }
  .back .bk {
    width:12.5em;
    margin-left:-1.75em;
  }
  .back .rt, .back .lt {
    width:30em;
  }
  .back .tp, .back .bm, .back .tp .photon-shader, .back .bm .photon-shader {
    border-radius:1.75em;
  }
  .back .cr {
    width:1.75em;
    left:0.875em;
  }
  .back .cr-0 {
    transform: translate3D(12.5em, 0, 15em);
  }
  .back .cr-1 {
    transform: translate3D(12.5em, 0, -15em);
  }
  .back .cr-2 {
    transform: translate3D(0, 0, -15em);
  }
  .back .cr-3 {
    transform: translate3D(0, 0, 15em);
  }
  .back .cr-0 .s0 {
    transform: rotateY(9deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-0 .s1 {
    transform: rotateY(27deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-0 .s2 {
    transform: rotateY(45deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-0 .s3 {
    transform: rotateY(63deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-0 .s4 {
    transform: rotateY(81deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-1 .s0 {
    transform: rotateY(99deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-1 .s1 {
    transform: rotateY(117deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-1 .s2 {
    transform: rotateY(135deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-1 .s3 {
    transform: rotateY(153deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-1 .s4 {
    transform: rotateY(171deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-2 .s0 {
    transform: rotateY(189deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-2 .s1 {
    transform: rotateY(207deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-2 .s2 {
    transform: rotateY(225deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-2 .s3 {
    transform: rotateY(243deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-2 .s4 {
    transform: rotateY(261deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-3 .s0 {
    transform: rotateY(279deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-3 .s1 {
    transform: rotateY(297deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-3 .s2 {
    transform: rotateY(315deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-3 .s3 {
    transform: rotateY(333deg) translate3D(-50%, 0, 1.725em);
  }
  .back .cr-3 .s4 {
    transform: rotateY(351deg) translate3D(-50%, 0, 1.725em);
  }
  .back .side {
    width:0.579345541135877em;
  }
  /* .mid styles */
  .mid {
    transform:translate3D(0em, 0em, 0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:16.5em;
    height:1.75em;
    margin:-0.875em 0 0 -8.25em;
  }
  .mid .ft {
    transform:translateZ(17em);
  }
  .mid .bk {
    transform:translateZ(-17em) rotateY(180deg);
  }
  .mid .rt, .mid .lt {
    width:34em;
    height:1.75em;
  }
  .mid .tp, .mid .bm {
    width:16.5em;
    height:34em;
  }
  .mid .face {
    background-color:#303030;
  }
  .mid .ft {
    width:13em;
    margin-left:1.75em;
  }
  .mid .bk {
    width:13em;
    margin-left:-1.75em;
  }
  .mid .rt, .mid .lt {
    width:30.5em;
  }
  .mid .tp, .mid .bm, .mid .tp .photon-shader, .mid .bm .photon-shader {
    border-radius:1.75em;
  }
  .mid .cr {
    width:1.75em;
    left:0.875em;
  }
  .mid .cr-0 {
    transform: translate3D(13em, 0, 15.25em);
  }
  .mid .cr-1 {
    transform: translate3D(13em, 0, -15.25em);
  }
  .mid .cr-2 {
    transform: translate3D(0, 0, -15.25em);
  }
  .mid .cr-3 {
    transform: translate3D(0, 0, 15.25em);
  }
  .mid .cr-0 .s0 {
    transform: rotateY(9deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-0 .s1 {
    transform: rotateY(27deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-0 .s2 {
    transform: rotateY(45deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-0 .s3 {
    transform: rotateY(63deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-0 .s4 {
    transform: rotateY(81deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-1 .s0 {
    transform: rotateY(99deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-1 .s1 {
    transform: rotateY(117deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-1 .s2 {
    transform: rotateY(135deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-1 .s3 {
    transform: rotateY(153deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-1 .s4 {
    transform: rotateY(171deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-2 .s0 {
    transform: rotateY(189deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-2 .s1 {
    transform: rotateY(207deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-2 .s2 {
    transform: rotateY(225deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-2 .s3 {
    transform: rotateY(243deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-2 .s4 {
    transform: rotateY(261deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-3 .s0 {
    transform: rotateY(279deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-3 .s1 {
    transform: rotateY(297deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-3 .s2 {
    transform: rotateY(315deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-3 .s3 {
    transform: rotateY(333deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .cr-3 .s4 {
    transform: rotateY(351deg) translate3D(-50%, 0, 1.725em);
  }
  .mid .side {
    width:0.579345541135877em;
  }
  /* .power styles */
  .power {
    transform:translate3D(0em, 0em, 16.95em) rotateX(0deg) rotateY(-90deg) rotateZ(-90deg);
    opacity:1;
    width:.5em;
    height:.25em;
    margin:-0.125em 0 0 -0.25em;
  }
  .power .ft {
    transform:translateZ(1.375em);
  }
  .power .bk {
    transform:translateZ(-1.375em) rotateY(180deg);
  }
  .power .rt, .power .lt {
    width:2.75em;
    height:.25em;
  }
  .power .tp, .power .bm {
    width:.5em;
    height:2.75em;
  }
  .power .face {
    background-color:#616161;
  }
  .power .ft {
    width:0em;
    margin-left:.25em;
  }
  .power .bk {
    width:0em;
    margin-left:-0.25em;
  }
  .power .rt, .power .lt {
    width:2.25em;
  }
  .power .tp, .power .bm, .power .tp .photon-shader, .power .bm .photon-shader {
    border-radius:.25em;
  }
  .power .cr {
    width:.25em;
    left:0.125em;
  }
  .power .cr-0 {
    transform: translate3D(0em, 0, 1.125em);
  }
  .power .cr-1 {
    transform: translate3D(0em, 0, -1.125em);
  }
  .power .cr-2 {
    transform: translate3D(0, 0, -1.125em);
  }
  .power .cr-3 {
    transform: translate3D(0, 0, 1.125em);
  }
  .power .cr-0 .s0 {
    transform: rotateY(15deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-0 .s1 {
    transform: rotateY(45deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-0 .s2 {
    transform: rotateY(75deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-1 .s0 {
    transform: rotateY(105deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-1 .s1 {
    transform: rotateY(135deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-1 .s2 {
    transform: rotateY(165deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-2 .s0 {
    transform: rotateY(195deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-2 .s1 {
    transform: rotateY(225deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-2 .s2 {
    transform: rotateY(255deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-3 .s0 {
    transform: rotateY(285deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-3 .s1 {
    transform: rotateY(315deg) translate3D(-50%, 0, 0.225em);
  }
  .power .cr-3 .s2 {
    transform: rotateY(345deg) translate3D(-50%, 0, 0.225em);
  }
  .power .side {
    width:0.15897459621556134em;
  }
  /* .cub-8 styles */
  .cub-8 {
    transform:translate3D(0em, -0.7874999999999996em, 0.125em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:16em;
    height:0.4em;
    margin:-0.2em 0 0 -8em;
  }
  .cub-8 .ft {
    transform:translateZ(16.75em);
  }
  .cub-8 .bk {
    transform:translateZ(-16.75em) rotateY(180deg);
  }
  .cub-8 .rt, .cub-8 .lt {
    width:33.5em;
    height:0.4em;
  }
  .cub-8 .tp, .cub-8 .bm {
    width:16em;
    height:33.5em;
  }
  .cub-8 .face {
    background-color:#000000;
  }
  .cub-8 .tp {
    background:url(https://i.pinimg.com/736x/43/20/c5/4320c5a2d58cf1f5cf8f3c2206253ebb.jpg);
  }
  .cub-8 .ft {
    width:12.5em;
    margin-left:1.75em;
  }
  .cub-8 .bk {
    width:12.5em;
    margin-left:-1.75em;
  }
  .cub-8 .rt, .cub-8 .lt {
    width:30em;
  }
  .cub-8 .tp, .cub-8 .bm, .cub-8 .tp .photon-shader, .cub-8 .bm .photon-shader {
    border-radius:1.75em;
  }
  .cub-8 .cr {
    width:1.75em;
    left:0.875em;
  }
  .cub-8 .cr-0 {
    transform: translate3D(12.5em, 0, 15em);
  }
  .cub-8 .cr-1 {
    transform: translate3D(12.5em, 0, -15em);
  }
  .cub-8 .cr-2 {
    transform: translate3D(0, 0, -15em);
  }
  .cub-8 .cr-3 {
    transform: translate3D(0, 0, 15em);
  }
  .cub-8 .cr-0 .s0 {
    transform: rotateY(9deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-0 .s1 {
    transform: rotateY(27deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-0 .s2 {
    transform: rotateY(45deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-0 .s3 {
    transform: rotateY(63deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-0 .s4 {
    transform: rotateY(81deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-1 .s0 {
    transform: rotateY(99deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-1 .s1 {
    transform: rotateY(117deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-1 .s2 {
    transform: rotateY(135deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-1 .s3 {
    transform: rotateY(153deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-1 .s4 {
    transform: rotateY(171deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-2 .s0 {
    transform: rotateY(189deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-2 .s1 {
    transform: rotateY(207deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-2 .s2 {
    transform: rotateY(225deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-2 .s3 {
    transform: rotateY(243deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-2 .s4 {
    transform: rotateY(261deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-3 .s0 {
    transform: rotateY(279deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-3 .s1 {
    transform: rotateY(297deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-3 .s2 {
    transform: rotateY(315deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-3 .s3 {
    transform: rotateY(333deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .cr-3 .s4 {
    transform: rotateY(351deg) translate3D(-50%, 0, 1.725em);
  }
  .cub-8 .side {
    width:0.579345541135877em;
  }
  /* .lock-1 styles */
  .lock-1 {
    transform:translate3D(-8.2em, 0.0625em, -9em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
    opacity:1;
    width:.6em;
    height:.25em;
    margin:-0.125em 0 0 -0.3em;
  }
  .lock-1 .ft {
    transform:translateZ(2.5em);
  }
  .lock-1 .bk {
    transform:translateZ(-2.5em) rotateY(180deg);
  }
  .lock-1 .rt, .lock-1 .lt {
    width:5em;
    height:.25em;
  }
  .lock-1 .tp, .lock-1 .bm {
    width:.6em;
    height:5em;
  }
  .lock-1 .face {
    background-color:#616161;
  }
  .lock-1 .ft {
    width:0em;
    margin-left:0.3em;
  }
  .lock-1 .bk {
    width:0em;
    margin-left:-0.3em;
  }
  .lock-1 .rt, .lock-1 .lt {
    width:4.4em;
  }
  .lock-1 .tp, .lock-1 .bm, .lock-1 .tp .photon-shader, .lock-1 .bm .photon-shader {
    border-radius:0.3em;
  }
  .lock-1 .cr {
    width:0.3em;
    left:0.15em;
  }
  .lock-1 .cr-0 {
    transform: translate3D(0em, 0, 2.2em);
  }
  .lock-1 .cr-1 {
    transform: translate3D(0em, 0, -2.2em);
  }
  .lock-1 .cr-2 {
    transform: translate3D(0, 0, -2.2em);
  }
  .lock-1 .cr-3 {
    transform: translate3D(0, 0, 2.2em);
  }
  .lock-1 .cr-0 .s0 {
    transform: rotateY(15deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-0 .s1 {
    transform: rotateY(45deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-0 .s2 {
    transform: rotateY(75deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-1 .s0 {
    transform: rotateY(105deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-1 .s1 {
    transform: rotateY(135deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-1 .s2 {
    transform: rotateY(165deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-2 .s0 {
    transform: rotateY(195deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-2 .s1 {
    transform: rotateY(225deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-2 .s2 {
    transform: rotateY(255deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-3 .s0 {
    transform: rotateY(285deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-3 .s1 {
    transform: rotateY(315deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .cr-3 .s2 {
    transform: rotateY(345deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-1 .side {
    width:0.1857695154586736em;
  }
  /* .lock-2 styles */
  .lock-2 {
    transform:translate3D(8.2em, 0em, -4.8125em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
    opacity:1;
    width:.6em;
    height:.25em;
    margin:-0.125em 0 0 -0.3em;
  }
  .lock-2 .ft {
    transform:translateZ(1.75em);
  }
  .lock-2 .bk {
    transform:translateZ(-1.75em) rotateY(180deg);
  }
  .lock-2 .rt, .lock-2 .lt {
    width:3.5em;
    height:.25em;
  }
  .lock-2 .tp, .lock-2 .bm {
    width:.6em;
    height:3.5em;
  }
  .lock-2 .face {
    background-color:#616161;
  }
  .lock-2 .ft {
    width:0em;
    margin-left:0.3em;
  }
  .lock-2 .bk {
    width:0em;
    margin-left:-0.3em;
  }
  .lock-2 .rt, .lock-2 .lt {
    width:2.9em;
  }
  .lock-2 .tp, .lock-2 .bm, .lock-2 .tp .photon-shader, .lock-2 .bm .photon-shader {
    border-radius:0.3em;
  }
  .lock-2 .cr {
    width:0.3em;
    left:0.15em;
  }
  .lock-2 .cr-0 {
    transform: translate3D(0em, 0, 1.45em);
  }
  .lock-2 .cr-1 {
    transform: translate3D(0em, 0, -1.45em);
  }
  .lock-2 .cr-2 {
    transform: translate3D(0, 0, -1.45em);
  }
  .lock-2 .cr-3 {
    transform: translate3D(0, 0, 1.45em);
  }
  .lock-2 .cr-0 .s0 {
    transform: rotateY(15deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-0 .s1 {
    transform: rotateY(45deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-0 .s2 {
    transform: rotateY(75deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-1 .s0 {
    transform: rotateY(105deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-1 .s1 {
    transform: rotateY(135deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-1 .s2 {
    transform: rotateY(165deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-2 .s0 {
    transform: rotateY(195deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-2 .s1 {
    transform: rotateY(225deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-2 .s2 {
    transform: rotateY(255deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-3 .s0 {
    transform: rotateY(285deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-3 .s1 {
    transform: rotateY(315deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .cr-3 .s2 {
    transform: rotateY(345deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-2 .side {
    width:0.1857695154586736em;
  }
  /* .lock-3 styles */
  .lock-3 {
    transform:translate3D(8.2em, 0em, -9em) rotateX(0deg) rotateY(0deg) rotateZ(-90deg);
    opacity:1;
    width:.6em;
    height:.25em;
    margin:-0.125em 0 0 -0.3em;
  }
  .lock-3 .ft {
    transform:translateZ(1.75em);
  }
  .lock-3 .bk {
    transform:translateZ(-1.75em) rotateY(180deg);
  }
  .lock-3 .rt, .lock-3 .lt {
    width:3.5em;
    height:.25em;
  }
  .lock-3 .tp, .lock-3 .bm {
    width:.6em;
    height:3.5em;
  }
  .lock-3 .face {
    background-color:#616161;
  }
  .lock-3 .ft {
    width:0em;
    margin-left:0.3em;
  }
  .lock-3 .bk {
    width:0em;
    margin-left:-0.3em;
  }
  .lock-3 .rt, .lock-3 .lt {
    width:2.9em;
  }
  .lock-3 .tp, .lock-3 .bm, .lock-3 .tp .photon-shader, .lock-3 .bm .photon-shader {
    border-radius:0.3em;
  }
  .lock-3 .cr {
    width:0.3em;
    left:0.15em;
  }
  .lock-3 .cr-0 {
    transform: translate3D(0em, 0, 1.45em);
  }
  .lock-3 .cr-1 {
    transform: translate3D(0em, 0, -1.45em);
  }
  .lock-3 .cr-2 {
    transform: translate3D(0, 0, -1.45em);
  }
  .lock-3 .cr-3 {
    transform: translate3D(0, 0, 1.45em);
  }
  .lock-3 .cr-0 .s0 {
    transform: rotateY(15deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-0 .s1 {
    transform: rotateY(45deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-0 .s2 {
    transform: rotateY(75deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-1 .s0 {
    transform: rotateY(105deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-1 .s1 {
    transform: rotateY(135deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-1 .s2 {
    transform: rotateY(165deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-2 .s0 {
    transform: rotateY(195deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-2 .s1 {
    transform: rotateY(225deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-2 .s2 {
    transform: rotateY(255deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-3 .s0 {
    transform: rotateY(285deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-3 .s1 {
    transform: rotateY(315deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .cr-3 .s2 {
    transform: rotateY(345deg) translate3D(-50%, 0, 0.27499999999999997em);
  }
  .lock-3 .side {
    width:0.1857695154586736em;
  }
  /* .cyl-1 styles */
  .cyl-1 {
    transform:translate3D(5.6875em, 1.2em, -14.1875em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2.5em;
    height:0.1em;
    margin:-0.05em 0 0 -1.25em;
  }
  .cyl-1 .tp, .cyl-1 .bm {
    width:2.5em;
    height:2.5em;
  }
  .cyl-1 .side {
    width:0.5956086859753749em;
    height:0.1em;
  }
  .cyl-1 .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-1 .face, .cyl-1 .side {
    background-color:#000000;
  }
  /* .cub-1 styles */
  .cub-1 {
    transform:translate3D(4.375em, 0.9375em, -12.625em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:6.125em;
    height:0.5em;
    margin:-0.25em 0 0 -3.0625em;
  }
  .cub-1 .ft {
    transform:translateZ(3.5625em);
  }
  .cub-1 .bk {
    transform:translateZ(-3.5625em) rotateY(180deg);
  }
  .cub-1 .rt, .cub-1 .lt {
    width:7.125em;
    height:0.5em;
  }
  .cub-1 .tp, .cub-1 .bm {
    width:6.125em;
    height:7.125em;
  }
  .cub-1 .face {
    background-color:#3b3b3b;
  }
  .cub-1 .ft {
    width:3.125em;
    margin-left:1.5em;
  }
  .cub-1 .bk {
    width:3.125em;
    margin-left:-1.5em;
  }
  .cub-1 .rt, .cub-1 .lt {
    width:4.125em;
  }
  .cub-1 .tp, .cub-1 .bm, .cub-1 .tp .photon-shader, .cub-1 .bm .photon-shader {
    border-radius:1.5em;
  }
  .cub-1 .cr {
    width:1.5em;
    left:0.75em;
  }
  .cub-1 .cr-0 {
    transform: translate3D(3.125em, 0, 2.0625em);
  }
  .cub-1 .cr-1 {
    transform: translate3D(3.125em, 0, -2.0625em);
  }
  .cub-1 .cr-2 {
    transform: translate3D(0, 0, -2.0625em);
  }
  .cub-1 .cr-3 {
    transform: translate3D(0, 0, 2.0625em);
  }
  .cub-1 .cr-0 .s0 {
    transform: rotateY(15deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-0 .s1 {
    transform: rotateY(45deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-0 .s2 {
    transform: rotateY(75deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-1 .s0 {
    transform: rotateY(105deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-1 .s1 {
    transform: rotateY(135deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-1 .s2 {
    transform: rotateY(165deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-2 .s0 {
    transform: rotateY(195deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-2 .s1 {
    transform: rotateY(225deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-2 .s2 {
    transform: rotateY(255deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-3 .s0 {
    transform: rotateY(285deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-3 .s1 {
    transform: rotateY(315deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .cr-3 .s2 {
    transform: rotateY(345deg) translate3D(-50%, 0, 1.475em);
  }
  .cub-1 .side {
    width:0.8288475772933681em;
  }
  /* .cyl-2 styles */
  .cyl-2 {
    transform:translate3D(5.6875em, 1.2em, -11.0625em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2.5em;
    height:0.1em;
    margin:-0.05em 0 0 -1.25em;
  }
  .cyl-2 .tp, .cyl-2 .bm {
    width:2.5em;
    height:2.5em;
  }
  .cyl-2 .side {
    width:0.5956086859753749em;
    height:0.1em;
  }
  .cyl-2 .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-2 .face, .cyl-2 .side {
    background-color:#000000;
  }
  /* .cyl-3 styles */
  .cyl-3 {
    transform:translate3D(3.0625em, 1.21em, -12.6875em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:2.5em;
    height:0.1em;
    margin:-0.05em 0 0 -1.25em;
  }
  .cyl-3 .tp, .cyl-3 .bm {
    width:2.5em;
    height:2.5em;
  }
  .cyl-3 .side {
    width:0.5956086859753749em;
    height:0.1em;
  }
  .cyl-3 .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 1.225em);
  }
  .cyl-3 .face, .cyl-3 .side {
    background-color:#000000;
  }
  /* .cyl-4 styles */
  .cyl-4 {
    transform:translate3D(3em, 1.21em, -10.375em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:1.125em;
    height:0.1em;
    margin:-0.05em 0 0 -0.5625em;
  }
  .cyl-4 .tp, .cyl-4 .bm {
    width:1.125em;
    height:1.125em;
  }
  .cyl-4 .side {
    width:0.2817739086889187em;
    height:0.1em;
  }
  .cyl-4 .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-4 .face, .cyl-4 .side {
    background-color:#000000;
  }
  /* .cyl-5 styles */
  .cyl-5 {
    transform:translate3D(3em, 1.211em, -14.9375em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    opacity:1;
    width:1.125em;
    height:0.1em;
    margin:-0.05em 0 0 -0.5625em;
  }
  .cyl-5 .tp, .cyl-5 .bm {
    width:1.125em;
    height:1.125em;
  }
  .cyl-5 .side {
    width:0.2817739086889187em;
    height:0.1em;
  }
  .cyl-5 .s0 {
    transform: rotateY(12.857142857142858deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s1 {
    transform: rotateY(38.57142857142857deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s2 {
    transform: rotateY(64.28571428571429deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s3 {
    transform: rotateY(90deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s4 {
    transform: rotateY(115.71428571428572deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s5 {
    transform: rotateY(141.42857142857144deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s6 {
    transform: rotateY(167.14285714285714deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s7 {
    transform: rotateY(192.85714285714286deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s8 {
    transform: rotateY(218.57142857142858deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s9 {
    transform: rotateY(244.2857142857143deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s10 {
    transform: rotateY(270deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s11 {
    transform: rotateY(295.7142857142857deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s12 {
    transform: rotateY(321.4285714285714deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .s13 {
    transform: rotateY(347.1428571428571deg) translate3D(-50%, 0, 0.5375em);
  }
  .cyl-5 .face, .cyl-5 .side {
    background-color:#FFFFFF;
  }