

.mywork__main{
    padding-top: 104px; // header
    // padding-bottom: 32px;
    min-height: 100vh;
}

.mywork__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mywork__title{
    padding-top: 8px;
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(24px);
    line-height: rem(32px);
    margin-bottom: 32px;
    text-align: center;
}

              
.mywork__project{
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;

    &:hover{
        .mywork__img{
            filter: none;
        }
    }
}

.mywork__container{
    border: 2px solid $color-black;
    padding: 16px;
}

// .mywork__innerContainer{
//     position: relative;
// }

.mywork__projectTitle{
    background-color: #4E5E57;
    padding-left: 32px;
    text-align: left;
    width: 100%;
    color: $color-white;
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(22px);
    line-height: rem(48px);
}

.mywork__img{
    min-height: 100px;
    // filter: grayscale(0.8);
    transition: 0.3s;
}

.mywork__year{

}

.mywork__info{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.mywork__techs{
    display: flex;
}


.mywork__tech{
    padding: 0 12px;
    border-right: 2px solid $color-black;
    &:last-child{
        border-right: none;
    }
}





