// Import Global
@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./typography.scss";

// Import Modules
@import "../modules/Row/Row.module.scss";
@import "../modules/Column/Column.module.scss";
@import "../modules/Header/Header.module.scss";
@import "../modules/Footer/Footer.module.scss";
@import "../modules/Button/Button.module.scss";
@import "../modules/Car2D/Car2D.module.scss";
@import "../modules/Experience/Experience.module.scss";
@import "../modules/Phone/Phone.module.scss";
// @import "../../Components/Loader/Loader.module.scss";
// @import "../../Components/ContactForm/ContactForm.module.scss";
// @import "../../Components/Timeline/Timeline.module.scss";
// @import "../../Components/Testimonials/Testimonials.module.scss";
// @import "../../Components/Line/Line.module.scss";
// @import "../../Components/GroupImgs/GroupImgs.module.scss";


// Import Pages
@import "../pages/Home/Home.scss";
// @import "../../Pages/About/About.scss";
@import "../pages/MyWork/MyWork.scss";
@import "../pages/Contact/Contact.scss";
@import "../pages/Project/Project.scss";
// @import "../../Pages/ErrorPage/ErrorPage.scss";


// SPLIDE
// Default theme
@import '@splidejs/react-splide/css';
// or other themes
// @import '@splidejs/react-splide/css/skyblue';
// @import '@splidejs/react-splide/css/sea-green';
// // or only core styles
// @import '@splidejs/react-splide/css/core';


body{
    background-color: $color-white;
    font-family: $font;
}

// // REMOVE SCROLLBAR
// body::-webkit-scrollbar {
//     display: none;
// }
// body{
//         -ms-overflow-style: none;  /* IE and Edge */
//         scrollbar-width: none;  /* Firefox */
// }

.app{
    max-width: 1440px;
    margin: auto;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }