
//
//  REM CONVERTER
//  useage: font-size: rem(16px); in case of value 0 font-size: 0;
//––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––

@function rem($size) {
    @return #{calc($size / $text-base-size)}rem;
}

//
//  BREAKPOINT MIXIN
//––––––––––––––––––––––––––––––––––––––––––––––––––


@mixin bp($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin bpmax($width) {
  @media screen and (max-width: calc($width - 1px)) {
    @content;
  }
}


// breakpoints
$xxs: 375px;
$xs: 768px;
$m: 1024px;
$l: 1440px;
$xl: 1680px;
$xxl: 1920px;

$max-width: $xl;