$color-white: #fdfbf6;
$color-black: #0f0f0f;

$gutter: 8px;

$padding-large: 64px;
$padding-small: 16px;

$text-base-size: 16px;

$serif: 'Reckless Neue', 'Times New Roman', Times, serif;
$sansSerif: 'Founders Grotesk', Arial, sans-serif;
$sansSerifCond: 'Founders Grotesk Condensed', Arial, sans-serif;
$pathFont: '../fonts/';