
$color-light-1: #fff1d6;
$color-light-2: #ffebc2;
$color-light-3: #f0ede7;

$color-white: #fdfbf6;
$color-black: #0f0f0f;

$color-link: #9c5e01;

$color-brown-grey: #44413b;

$color-accent-1: #033a3a;
$color-accent-2: #9c1f00;
$color-accent-3: #006779;
$color-accent-4: #170196;
$color-accent-5: #720247;
$color-accent-6: #046825;

$gutter: 8px;

$padding-large: 64px;
$padding-small: 16px;

$text-base-size: 16px;

$serif: 'Reckless Neue', 'Times New Roman', Times, serif;
$sansSerif: 'Founders Grotesk', Arial, sans-serif;
$sansSerifCond: 'Founders Grotesk Condensed', Arial, sans-serif;
$pathFont: '../fonts/';