.contact__main{
    // padding-top: 104px; // header
    padding-bottom: 96px;
    min-height: 100vh;
}

.contact__title{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(28px);
    line-height: rem(36px);
    margin-bottom: 18px;
    text-align: center;
}

.contact__paragraph{
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: rem(16px);
    line-height: rem(18px);
    // text-align: center;
    margin-bottom: 18px;
    // padding-left:  16px;
}

.contact__socialIcon{
    width: 40px;
    margin-left: 16px;
    transition: 0.3s filter linear, 0.3s -webkit-filter linear;

    &:hover {
        filter: invert(100%);
      }
}

.contact__outerList{
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact__outerNav{
    margin-bottom: 16px;
}

.contact__wrapper{
    background-color: $color-white;
    margin-bottom: 16px;
    margin-top: 120px; // + header
}
.contact__innerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 24px 48px;
    border: 2px solid $color-black;
    margin: 24px;
}


.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contact__input{
    border: 2px solid #000000;
    // border-radius: 100px;
    width: 100%;
    height: 32px;
    margin-bottom: 16px;
    padding: 12px;
}
.contact__textarea{
    border: 2px solid #000000;
    // border-radius: 30px;
    width: 100%;
    margin-bottom: 16px;
    padding: 8px 12px;
}

.contact__label{
    display: block;
    width: 100%;
    margin-bottom: 4px;

    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(16px);
    line-height: rem(20px);

    // padding-left: 16px;
}


.contact__button{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(16px);
    line-height: rem(24px);
    color: $color-black;
    padding: 12px 64px 12px 24px;

    position: relative;
    cursor: pointer;

    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid;
    // padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

    &:hover {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
    }

}

.contact__icon{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    top: 50%;
    transform: translate(0, -50%);
}

.contact__row{
    // position: absolute;
    // top: 104px; // header
    // left: 50%;
    // transform: translate(-50%, 0);
    width: 100%;
}

.contact__bg{
    // position: relative;
    // top: -104px;
    z-index: -2;
    // height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* The image used */
    //   background-image: url("/public/contact.png");
    /* Set a specific height */
    min-height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact__titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-left: 16px;
    // margin-right: 16px;
}