


.home__main{
    padding-top: 104px; // header
    padding-bottom: 96px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home__title{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(40px);
    line-height: rem(48px);
    margin-bottom: 40px;
}


.home__paragraph{    
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(20px);
    margin-bottom: 72px;
}

.home__row{
    width: 100%;
}

.home__link{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(18px);
    line-height: rem(20px);
    color: $color-white;
    padding: 16px 64px 16px 24px;

    // width: 218px;
    // height: 56px;
    background: linear-gradient(180deg, #4E5E57 0%, #939599 51.04%, #4E5E57 100%);
    border-radius: 100px;
    position: relative;
}

.home__icon{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    top: 50%;
    transform: translate(0, -50%);
}