


.home__main{
    max-width: $max-width;
    margin: 0 auto;

    padding: $padding-mobile;
    @include bp($xs){
        padding: 0;
    }
}

.home__title, .home__title2{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(40px);
    line-height: rem(48px);
    margin-bottom: 40px;
    max-width: 20ch;
    color: $color-black;
    // mix-blend-mode: exclusion;
}


.home__paragraph{    
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-size: rem(18px);
    line-height: rem(24px);
    margin-bottom: 72px;
    max-width: 32ch;
    & b{
        font-weight: 700;
    }
    &:first-of-type{
        margin-bottom: 8px;
    }
}

.home__row{
    width: 100%;
}

.home__link{
    font-family: $font;
    font-style: normal;
    font-weight: 700;
    font-size: rem(16px);
    line-height: rem(24px);
    color: $color-black;
    padding: 16px 64px 16px 24px;

    position: relative;

    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid;
    // padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

    &:hover {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
    }

}

.home__icon{
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    top: 50%;
    transform: translate(0, -50%);
}

.home__section1{

    @include bp($xs){
        display: flex;
    }

}

.home__phoneWrapper{
    position: relative;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

.home__textWrapper{
    flex-basis: 0;
    flex-grow: 1;
    padding-top: $header-height-mob; // header
    padding-bottom: 96px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @include bp($xs){
        padding-top: $header-height;
    }
}
.home__section2{
    padding: 40px;
    // min-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: $color-light-gray;
}

.home__title2{
    flex-basis: 0;
    flex-grow: 1;
    text-align: right;
}

.home__featured{
    flex-basis: 0;
    flex-grow: 1;
}