


.header{
  font-family: $font;
}


.header__logo{
  width: 74px;
}

.header__list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__item{
  position: relative;

  &:not(:last-child):after {
    content: "";
    background: $color-black;
    width: 2px;
    height: 42px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

}

.header__row{
  height: 128px;
  align-items: center;
}

.header__link{
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: rem(18px);
  line-height: rem(24px);

  padding: 16px 48px;
  width: 100%;

  &--active:after {
    content: "";
    background: $color-gray;
    border-radius: 100px;
    width: 77px;
    height: 8px;
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}