


.header{
  font-family: $font;
}


.header__logo{
  width: 74px;
}

.header__list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__item{
  padding: 16px 48px;
  position: relative;

  &:not(:last-child):after {
    content: "";
    background: $color-black;
    width: 2px;
    height: 42px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

}

.header__row{
  height: 128px;
  align-items: center;
}